

<div class="container has-scrollbar " style="margin-top:40px">

  <ul class="cards">

    <!-- <div class="card  m-1 col-lg-3 col-md-6 col-sm-12 text-center hover-1" routerLink="/categories/0">
      <div class="card-body">
        <p><i class="fa-solid fa-drumstick-bite logo" ></i></p>
        <h5 class="card-title">Chicken Masala</h5>
        <p class="card-text">
          Food is any substance consumed to provide nutritional support for an organism.
        </p>

      </div>
      <img class="card-img-bottom img " src="./assets/images/1-card.jpg" alt="Card image cap">

      <div class="background "></div>
    </div> -->


    <div class="card  m-1 col-lg-3 col-md-6 col-sm-12 text-center hover-1" routerLink="/categories/0">
      <div class="card-body">
        <p><i class="fa-solid fa-pizza-slice logo" ></i></p>
        <h5 class="card-title"> Pizza</h5>
        <p class="card-text">
          Food is any substance consumed to provide nutritional support for an organism.
        </p>

      </div>
      <img class="card-img-bottom img" src="./assets/images/1-card.jpg" alt="Card image cap">

      <div class="background "></div>
    </div>

    <div class="card  m-1   col-lg-3 col-md-6 col-sm-12 text-center hover-1" routerLink="/categories/1">
      <div class="card-body">
        <p><i class="fa-solid fa-burger  logo" ></i></p>
        <h5 class="card-title">Burger </h5>
        <p class="card-text">
          Food is any substance consumed to provide nutritional support for an organism.
        </p>

      </div>
      <img class="card-img-bottom img" src="./assets/images/4-card.jpg" alt="Card image cap">

      <div class="background "></div>
    </div>
    
    <div class="card   m-1  col-lg-3 col-md-6 col-sm-12 text-center hover-1" routerLink="/categories/2">
      <div class="card-body">
        <p><i class="fa-solid fa-martini-glass-citrus logo" ></i></p>
        <h5 class="card-title"> Drinks</h5>
        <p class="card-text">
          Food is any substance consumed to provide nutritional support for an organism.
        </p>

      </div>
      <img class="card-img-bottom img" src="./assets/images/22-card.jpg" alt="Card image cap">

      <div class="background "></div>
    </div>

    <div class="card  m-1   col-lg-3 col-md-6 col-sm-12 text-center hover-1" routerLink="/categories/3">
      <div class="card-body">
        <p><i class="fa-solid fa-utensils logo" ></i></p>
        <h5 class="card-title">Sandwich</h5>
        <p class="card-text">
          Food is any substance consumed to provide nutritional support for an organism.
        </p>

      </div>
      <img class="card-img-bottom img" src="./assets/images/3-card.jpg" alt="Card image cap">

      <div class="background "></div>
    </div>


  </ul>
</div>

