<div class='title'>Basic Details</div>
<form class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
    <div class="form-group col">
        <input type="text" class="form-control inp" placeholder="Ahmed">
    </div>
    <div class="form-group col">
        <input type="text" class="form-control inp" placeholder="Khalaf">
    </div>
    
    <div class="form-group col">
        <input type="text" class="form-control inp coun" placeholder="01155785248">
    </div>
    <div class="form-group col">
        <input type="email" class="form-control inp" placeholder="ahmed@gmail.com" readonly>
    </div>
</form>