
<app-header #header (myEvent)="registration.openLSModal(header.loginSignUpState)"></app-header><!-- important! these two components will be together without routing -->
<app-main-registration #registration></app-main-registration><!-- important! these two components will be together without routing  message yousef if you have any concern ^_^-->

<app-main-registration #registration></app-main-registration><!-- important! these two components will be together without routing --> <!-- message yousef if you have any concern ^_^ -->
<app-categories></app-categories>
<app-aboutus></app-aboutus>
<app-offer></app-offer>
<app-best-delivery></app-best-delivery>
<app-shop></app-shop>
<app-reviews></app-reviews>
<app-week-offers></app-week-offers>
<app-footer></app-footer> 