<div class="main">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 container">
        <div class="col first">
            <p id="Otitle">The Foodie Have Excellent Of <span id="Otitle1">Quality Burgers!</span></p>
            <p class="Otext">The restaurants in Hangzhou also catered to many northern Chinese who had fled south from Kaifeng during the Jurchen invasion of the 1120s, while it is also known that many restaurants were run by families.</p>
            <button class="button">Order Now</button>
        </div>
        <div class="col pic" style="padding-left: 50px;">
            <img class="imag" src="../../../assets/images/cta-banner.png" alt="" loading="lazy">
            <img class="off d-none d-xl-block scale-up-anim" src="../../../assets/images/sale-shape.png" alt="" width="216" height="226">
        </div>
    </div>
</div>
