<div class="Review">
<p id="Rtitle">Our Customers <span id="Rtitle1">Reviews</span></p>
<p id="Rtext1">Food is any substance consumed to provide nutritional support for an organism.</p>
<div>
    <div class=" container">
      <ul class="promo-list has-scrollbar  row-cols-1 row-cols-md-1 row-cols-lg-3 g-4 ">
        <ul class="promo-item">
      <div class="col promo-card">
        <div class="card text-center bg-light" style="width: 18rem;">
            <div class="testi-card">
                <div class="profile-wrapper">

                  <figure class="avatar">
                    <img src="../../../assets/images/avatar-1.jpg" width="80" height="80" loading="lazy" alt="Robert William">
                  </figure>

                  <div>
                    <h3 class="h4 reviewname">Robert William</h3>

                    <p class="reviewtitle">CEO Kingfisher</p>
                  </div>

                </div>

                <blockquote class="reviwtext">
                  "I would be lost without restaurant. I would like to personally thank you for your outstanding
                  product."
                </blockquote>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>

              </div>
        </div>
      </div>
    </ul>
        <ul class="promo-item">

      <div class="col promo-card">
        <div class="card text-center bg-light" style="width: 18rem;">
            <div class="testi-card">
                <div class="profile-wrapper">

                  <figure class="avatar">
                    <img src="../../../assets/images/avatar-2.jpg" width="80" height="80" loading="lazy" alt="Robert William">
                  </figure>

                  <div>
                    <h3 class="h4 reviewname">Robert William</h3>

                    <p class="reviewtitle">CEO Kingfisher</p>
                  </div>

                </div>

                <blockquote class="reviwtext">
                  "I would be lost without restaurant. I would like to personally thank you for your outstanding
                  product."
                </blockquote>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>

              </div>
        </div>
      </div>
    </ul>
      <ul class="promo-item">

      <div class="col promo-card">
        <div class="card text-center bg-light" style="width: 18rem;">
            <div class="testi-card">
                <div class="profile-wrapper">

                  <figure class="avatar">
                    <img src="../../../assets/images/avatar-3.jpg" width="80" height="80" loading="lazy" alt="Robert William">
                  </figure>

                  <div>
                    <h3 class="h4 reviewname">Robert William</h3>

                    <p class="reviewtitle">CEO Kingfisher</p>
                  </div>

                </div>

                <blockquote class="reviwtext">
                  "I would be lost without restaurant. I would like to personally thank you for your outstanding
                  product."
                </blockquote>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>

              </div>
        </div>
      </div>  
    </ul>  
      <ul class="promo-item">
        <div class="col promo-card">
          <div class="card text-center bg-light" style="width: 18rem;">
              <div class="testi-card">
                  <div class="profile-wrapper">
  
                    <figure class="avatar">
                      <img src="../../../assets/images/avatar-1.jpg" width="80" height="80" loading="lazy" alt="Robert William">
                    </figure>
  
                    <div>
                      <h3 class="h4 reviewname">Robert William</h3>
  
                      <p class="reviewtitle">CEO Kingfisher</p>
                    </div>
  
                  </div>
  
                  <blockquote class="reviwtext">
                    "I would be lost without restaurant. I would like to personally thank you for your outstanding
                    product."
                  </blockquote>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
  
                </div>
          </div>
        </div>
      </ul> 
      </ul>
    </div><br>
  </div>
</div>
