<div class="container "style="margin-bottom: 30px; ">
    <div class="row ">
        <div class="col-lg-6  col-md-6 col-sm-12" style="position: relative;">
            <div>
                <img class="img1" src="./assets/images/about-banner.png" >
            </div>
            <img class="img2 center  margin-right=200px" src="./assets/images/sale-shape-red.png">
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 ">
            <h1 class="D-1 mb-4 orange"><strong> Caferio, Burgers, and Best Pizzas <span >in Town!</span></strong></h1>
            <h4 class="mb-4" style="color: grey; ">The restaurants in Hangzhou also catered to many northern Chinese who
                had fled south from Kaifeng during the Jurchen invasion of the 1120s, while it is also known that many
                restaurants were run by families. </h4>
            <h4><i class="fa-solid fa-circle-check orange" ></i> &nbsp;<strong> Delicious & Healthy Foods</strong></h4>
            <h4><i class="fa-solid fa-circle-check orange" ></i> &nbsp;<strong> Spacific Family And Kids Zone </strong> </h4>
            <h4><i class="fa-solid fa-circle-check orange" ></i> &nbsp; <strong> Music & Other Facilities </strong> </h4>
            <h4><i class="fa-solid fa-circle-check orange" ></i> &nbsp; <strong>Fastest Food Home Delivery </strong></h4>
            <button type="button" class="btn btn-warning mt-4">Order Now</button>

        </div>

    </div>
</div>








    