<div class="main">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 ">
        <div class="col">
        <p id="Dtitle">A Moments Of Delivered On<span id="Dtitle1">Right Time</span>& Place</p>
        <p class="Dtext">The restaurants in Hangzhou also catered to many northern Chinese who had fled south from Kaifeng during the Jurchen invasion of the 1120s, while it is also known that many restaurants were run by families.</p>
        <button class="button">Order Now</button>

    </div>
    <div class="col pic ">
        <img src="./assets/images/delivery-boy.svg" width="500" height="500" loading="lazy" alt="delivery boy"
        class="w-100 delivery-img" >    </div>
    </div>
</div>