<div class="container " style="margin-top:30px">
    <div class="row" >
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="center  banner-1">
                <img class="img1" src="./assets/images/banner-1.jpg">
                <div class="top-left" style="width:300px">
                    <h2 class="mb-3 h2">50% Off Now! </h2>
                    <p class="mb-3 h2" style="text-decoration: smaller"> Discount For Delicious Tasty Burgers!</p>
                    <p class="mb-3 h2" style="font-size: 20px;"> Sale off 50% only this week</p>
                    <button type="button" class="btn btn-warning">
                        Order Now</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 ">

            <div class="row    justify-content-between">
                <div class="col-lg-3  col-md-6 col-sm-12 m-2 ">
                    <div class="  text-white banner-2">
                        <img class="img2" src="./assets/images/banner-2.jpg">
                        <div class="top-left" style="width:200px">
                            <h2 class="mb-3 h2"><strong> Delicious Pizza</strong> </h2>
                            <p class="mb-3 h2" style="font-size: 20px;"> Sale off 50% only this week </p>
                            <button type="button" class="btn btn-warning">
                                Order Now</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6  col-md-6 col-sm-12 m-2  ">
                    <div class="  text-white banner-3">
                        <img class="img3" src="./assets/images/banner-3.jpg">
                        <div class="top-left" style="width:200px;">
                            <h2 class="mb-3 h2"><strong>American Burger </strong> </h2>
                            <h6 class="mb-3 h2" style="font-size: 20px;"> Sale off 50% only this week </h6>
                            <button type="button" class="btn btn-warning">
                                Order Now</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-6 m-2 ">
                <div class="  text-white banner-4">
                    <img class="img4" src="./assets/images/4-discount.jpg">
                    <div class="top-left" style="width:200px">
                        <h2 class="mb-3 h2"> <strong>Tasty Buzzed Pizza </strong></h2>
                        <h6 class="mb-3 h2" style="font-size: 20px;"> Sale off 50% only this week </h6>
                        <button type="button" class="btn btn-warning">
                            Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>